.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: azure;

  }

.title{
  background-color: beige;
  padding: 10px;
}  

.prevButton, .nextButton, .markButton {
  background-color: #c9781b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: larger;
}

.prevButton:hover, .nextButton:hover, .markButton:hover {
  background-color: #0056b3;
}

.prevButton:disabled, .nextButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cards {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.my-cards{
  background-color: '';
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

  